---
layout: page
active: tutorial
title: 摄影教程
description: 我从远方赶来，恰巧你们也在
head-img: head.jpg
---

<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tutorial.css" media="screen"/>
</head>

<body class="journal">
    <section class="section--postsWrapper">
        <div class="container" style="padding-left:0!important;padding-right:0!important;">
            <div class="blockGroup">
                <ul class="blockGroup-list">
                    {% for post in paginator.posts %}
                        {% assign post = site.posts.first %}
                        {% assign content = post.content %}
                        <li class="block">
                            <div class="postArticle-wrapper">
                                <div class="post-preview">
                                    <a href="{{ post.url | prepend: site.baseurl }}">
                                        {% if post.image.feature %}
	                                        <img src="{{ site.baseurl }}/assets/img/postcover/{{ post.image.feature }}">
	                                    {% endif %}
                                        <p class="post-title" style="font-size:16px;padding-left:20px;"> &#9658; {{ post.title }}</p>
                                    </a>
                                    {% if post.subtitle %}
                                        <p class="post-subtitle" style="font-size:12px;padding-left:20px;"> {{ post.subtitle }}</p>
                                    {% endif %}
                                    <p class="post-meta" style="font-size:10px;padding-left:20px;"> Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    {% if paginator.total_pages > 1 %}
        <ul class="pager" style="padding:0 20px;">
            <li class="previous">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
                {% else %}
                    <a href="javascript:void(0);" class="btn btn-default disabled">上一页</a>
                {% endif %}
            </li>
            <span style="vertical-align:-webkit-baseline-middle">{{paginator.page}} / {{paginator.total_pages}}</span>
            <li class="next">
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
                {% else %}
                    <a href="javascript:void(0);" class="btn btn-default disabled">下一页</a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
    <br/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
