<hr class="big"/>
<br/>
<footer style="text-align:center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ site.url }}" target="_blank" data-toggle="tooltip" title="Homepage">
                            <span class="fa-stack fa-lg"><i class="fa fa-h-square fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ site.url }}/blog" target="_blank" data-toggle="tooltip" title="Blog">
                            <span class="fa-stack fa-lg"><i class="fa fa-pencil fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/{{ site.username }}" target="_blank" data-toggle="tooltip" title="Github">
                            <span class="fa-stack fa-lg"><i class="fa fa-github fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{ site.email }}" data-toggle="tooltip" title="Email">
                            <span class="fa-stack fa-lg"><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/discover" target="_blank" data-toggle="tooltip" title="Google+">
                            <span class="fa-stack fa-lg"><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/photo" target="_blank" data-toggle="tooltip" title="Instagram">
                            <span class="fa-stack fa-lg"><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/" target="_blank" data-toggle="tooltip" title="Flickr">
                            <span class="fa-stack fa-lg"><i class="fa fa-flickr fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.mafengwo.cn/" target="_blank" data-toggle="tooltip" title="蚂蜂窝">
                            <span class="fa-stack fa-lg"><i class="fa fa-globe fa-stack-1x fa-inverse"></i></span>
                        </a>
                    </li>
                </ul>
                <br/>
                <h5 style="margin-bottom:20px;">Copyright &copy; {{ site.username }} ❤ 2018</h5>
                <h5 style="margin-bottom:13%">Powered by <a href="https://github.com/sunbliss/photorama" target="_blank" onmouseover="this.style.cssText='color:#0085a1;'" onmouseout="this.style.cssText='color:white;'">Photorama Theme</a></h5>
            </div>
        </div>
    </div>
</footer>